{% extends "layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    {% if errors and (errors | length > 0) %}
      {{ govukErrorSummary({
        titleText: "Error",
        errorList: [
          { text: errors.title[0], href: "#title" } if errors.title,
          { text: errors.description[0], href: "#description" } if errors.description,
          { text: errors.due_date[0], href: "#due_date" } if errors.due_date
        ]
      }) }}
    {% endif %}

  </div>
</div>

<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "/" }) }}
    
    <h1 class="govuk-heading-xl">Edit Task</h1>

    <input type="hidden" id="task-id" value="{{ task.id }}">

    <form action="/edit-task/{{ task.id }}" method="POST" novalidate>
      
      {{ govukInput({
        label: {
          text: "Task Title",
          classes: "govuk-label--l"
        },
        id: "title",
        name: "title",
        classes: "govuk-input--width-full",
        attributes: { maxlength: "100" },
        hint: {
          text: "Enter a brief title for the task (required)."
        },
        value: task.title,
        errorMessage: { text: errors.title[0] } if errors.title else null
      }) }}

      {{ govukCharacterCount({
        name: "description",
        id: "description",
        maxlength: 2000,
        label: {
          text: "Description",
          classes: "govuk-label--m"
        },
        hint: {
          text: "Provide a detailed description of the task (optional)."
        },
        value: task.description
      }) }}

      {{ govukSelect({
        id: "status",
        name: "status",
        label: { text: "Status", classes: "govuk-label--m" },
        items: [
          { value: "PENDING", text: "Pending", selected: task.status == 'PENDING' },
          { value: "IN_PROGRESS", text: "In Progress", selected: task.status == 'IN_PROGRESS' },
          { value: "COMPLETED", text: "Completed", selected: task.status == 'COMPLETED' }
        ]
      }) }}

      <div class="govuk-form-group {% if errors.due_date %}govuk-form-group--error{% endif %}" id="due-date-group">
        <label class="govuk-label govuk-label--m" for="due_date">Due Date</label>
        
        {% if errors.due_date %}
        <p class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.due_date[0] }}
        </p>
        {% endif %}

        <input class="govuk-input govuk-input--width-20 {% if errors.due_date %}govuk-input--error{% endif %}" 
              id="due_date" name="due_date" type="datetime-local" 
              data-iso="{{ task.due_date }}">
      </div>

      <div class="govuk-button-group">
        {{ govukButton({ text: "Save Changes" }) }}
        
        {{ govukButton({
          text: "Delete task",
          classes: "govuk-button--warning",
          href: "/delete-task/" + task.id + "/confirm"
        }) }}
        
      </div>

    </form>
  </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Task History</h2>
        
        <div id="history-container" style="
            border-left: 2px solid #b1b4b6; 
            padding-left: 15px;
            padding-right: 10px; 
            max-height: 650px; 
            overflow-y: auto;
        ">
          <p class="govuk-body-s text-grey">Loading history...</p>
        </div>
        
      </aside>
    </div>

</div>
{% endblock %}